# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
```
1.Phython
2.SQL
3.Scala
4.R
5.C
```

Some of the commonly used libraries used by Data Scientists include:
```
01. Numpy
02. Pandas
03. Scipy
04. PyTorch
05. Matplotlib

|Data Scinece Tools|
|---------|
|Phython|
|Tableau|
|SAS|
|Scikit-learn|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

In [ ]:
200/60
# This will convert 200 minutes to hours by diving by 60.

# Objectives #
* How to change style of Header.
* Simple Arithmetic on Jupyter note book.
* Creating Table with rows and header
* Creating list on Jupyter note book.

## Nilanka Sandamali